/* Global styles */

/* Typography */
*{
    font-family: Arial, sans-serif;
}
/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button, input {
  all: unset;
}

/* Variables */
:root{

    --clr-bg-color: (color="#333");
    --clr-primary-text: (color="#ccc");
}

body {
    height: 100vh;
    color: #fff;
    background-color: #111;
}

/* Dashboard Styles */
    #container-dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

#dashboard-header{
    width:80%;
    background-color: #222;
    padding: 20px;
}

.dashboard-timer-row {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 1rem;
}

input[type="number"] {
    width: 70px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #000;
    padding: 5px;
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
}

button {
    font-size: 1.1rem;
    height: 40px;
    width: 80px;
    padding: 0px 20px;
    margin: 8px;
    color: #fff;
    background-color: #111;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
}

/* Timer Styles */
.timer-display {
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    margin: 0;
}

#display {
    color:#fff;
    font-size: 30vw;
    
}

.container {
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    height: 100vh; /* Example: Centers within the viewport height */
}

/* #controller {
    color: #fff;

} */